<div class="container">
  <h1>Skills</h1>
  <a><%= link_to "Add a Skill", new_skill_path %></a>
  <hr>
</div>


<div class="container">
  <% if @skills.any? %>
  <ol>
    <% @skills.each do |skill| %>
    <p><%= skill.skill_name %>, <%= skill.skill_description %></p>

    <% end %>
  </ol>

  <% else %>
    <p>There are no skills listed.</p>

  <% end %>
</div>
