<div class="container">
  <h3>About Me</h3>
    <br>
    <p>Hello! I consider myself an enthusiastic and lifelong learner who is currently enrolled in a full-time full stack developer bootcamp studying JavaScript and Ruby. Realizing a new passion for coding, I wanted to learn more quickly than taking free online courses after work, and decided to change careers and dive head first!
    <p>
    <br>
    <p>With a background in budget and policy analysis, I bring an eye for detail, critical thinking, and perseverance to find the right solution. I remain upbeat under high pressure and changing environments, skilled in communicating with senior leadership, and can perform independently or as a team.
    </p>
    <br>
    <p>I am excited for opportunities that promote curiosity, effective communication, career development and value <em>diversity and inclusion</em>. In my free time I am working towards my AWS Certified Developer – Associate certification and thinking if I should drink less coffee.
    </p>

    <h3>Personal Interests</h3>
    <p>I enjoy activities that challenge me physically and mentally. I enjoy: running and try to push myself to run faster or longer; playing the piano and attempting to play music that's far beyond my skill level; and self-care and self-improvement because working on yourself is probably the hardest thing you will ever do.</p>

</div>
