<div class="container">
  <div class="row">
    <div class="col about">
      <p id="about">about: </p>
      <p>Hi there, this site is currently being updated as I complete my education on the Ruby/Rails track at Epicodus. As a career changer from public sector budget and policy analysis to developer, I can't wait to apply my skills to solve meaningful problems and encourage others who may be interested in coding, but intimidated by it, to try it out.</p>
      <p>I bring an eye for detail, critical thinking, and perseverance to find the right solution. I have been learning the following technologies and am actively pursuing professional opportunities that encourage learning and value diversity and inclusion.</p>
    </div>
    <div class="col technologies">
      <p>Technologies</p>
      <ul>
        <li>Languages: JavaScript, Ruby</li>
        <li>Frameworks: Angular 5, Rails </li>
        <li>Database:  PostgreSQL, Firebase</li>
        <li>Testing:  Jasmine, Karma, RSpec</li>
        <li>Styling: Bootstrap, Materialize</li>
        <li>Other:  NodeJS, Git, Github, Postman, AJAX, HTML, CSS</li>
      </ul>
    </div>
  </div>
</div>
