<div class="container">
    <h3><strong>about: </strong></h3>
    <p>Hello! This site is currently being updated as I complete my education at Epicodus. With prior experience in budget and policy analysis, I bring an eye for detail, critical thinking, and perseverance to find the right solution. I have been learning the following technologies and can't wait to apply them to solve problems, big or small!</p>
    <p><strong>Languages: </strong>JavaScript, Ruby | <strong>Frameworks: </strong>Angular2, Rails | <strong>Database: </strong>PostgreSQL, Firebase | <strong>Testing: </strong>Jasmine, Karma, RSpec | <strong>Other: </strong>NodeJS, Git, Github, Postman, AJAX, HTML, CSS, Bootstrap</p>
    <br>
    <p><strong>Education</strong></p>
    <p>Epicodus Full Stack Developer Certificate</p>
    <p>Bachelor of Arts Political Science, International Relations</p>
    <p>Masters of Public Administration, Budget and Public Finance</p>

</div>
