<div class="container">
  <h1>Edit Project</h1>
  <br>
  <nav>
  <p><%= link_to "Home", root_path %></p>
  <p><%= link_to "Return to Project List", projects_path %></p>
  </nav>
  <hr>

  <%= render "form" %>
</div>
