<div class="container">
  <h1>Projects</h1>
  <br>
  <nav>
    <a><%= link_to "Home", root_path %></a>
    <a><%= link_to "Add a Project", new_project_path %></a>
  </nav>
  <hr>
</div>


<div class="container">
  <% if @projects.any? %>
  <ol>
    <% @projects.each do |project| %>
    <p><%= link_to project.project_name, project_path(project) %></p>

    <% end %>
  </ol>

  <% else %>
    <p>There are no current projects.</p>

  <% end %>
</div>
