<div class="container">
  <a>Add New Project</a>
  <br>
  <nav>
    <a><%= link_to "Home", root_path %></a>
    <a><%= link_to "Return to Project List", projects_path %></a>
  </nav>
  <hr>

  <%= render "form" %>
</div>
