<div class="container">
  <h3><%= @project.project_name %></h3>

  <hr>
      <div class="card">
        <div class="card-body">
          <li style="list-style:none;">
            <em><strong>Project Name: </strong></em><%= @project.project_name %>
            <br>
            <em><strong>Technologies Used: </strong></em><%= @project.project_technology %>
            <br>
            <em><strong>Description: </strong></em><%= @project.project_description %>
            <br>
          </li>
        </div>
      </div>

    </ul>

    <hr>


</div>
