@import 'materialize';

body {
  font-family: 'Pavanam', sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

nav {
  height: 100px;
  background-color: #ffffff !important;
  border-bottom: none!important;
  box-shadow: none !important;
  color: grey !important;
  padding: 15px 20px 10px 20px;
  margin-bottom: -40px;
  .logo {
    float: left;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
  }
  li {
    display: block;
    float: right;
    text-decoration: none !important;
    font-size: 1.5em;
  }
}

nav li a {
  color: grey;
}

.card {
  width: auto;
  max-width: 100%;
}

.card-content{
  text-align: center;
  font-weight: bold;
  a {
    &:hover {
      color: grey;
    }
  }
}

#projects {
  margin-top: 60px;
}

#project-show {
  border-bottom: none!important;
  box-shadow: none!important;
  margin: auto;
  width: inherit;
}

#project-title {
  font-size: 1.5em;
  text-align: center;
}

#about {
  font-size: 1.5em;
  font-weight: bold;

}


/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: grey;
  text-align: center;
}


// #flash-notice {
//   -moz-animation: cssAnimation 0s ease-in 3s forwards;
//   /* Firefox */
//   -webkit-animation: cssAnimation 0s ease-in 3s forwards;
//   /* Safari and Chrome */
//   -o-animation: cssAnimation 0s ease-in 3s forwards;
//   /* Opera */
//   animation: cssAnimation 0s ease-in 3s forwards;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   background-color: black;
//   text-align: center;
// }
// @keyframes cssAnimation {
//   to {
//       width:0;
//       height:0;
//       overflow:hidden;
//   }
// }
// @-webkit-keyframes cssAnimation {
//   to {
//       width:0;
//       height:0;
//       visibility:hidden;
//   }
// }
