@import "bootstrap";

body {
  font-family: 'PT Sans', sans-serif;
}

nav {
  align-items: stretch;
  padding: 20px 25px 20px 25px;
  background-color: #1151FF;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px 20px 20px 20px;
}

nav a:hover {
  background-color: #91ADC2;
  border-radius: 4px;
}

nav a:hover::after {
  background-color: #1151FF;
}

#welcome {
  background-color: #91ADC2;
  color: white;
  margin-top: -15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#photos {
  font-size: 10px;
}

#carouselExampleIndicators {
  padding: 0px !important;
}

.navbar {
  padding: 10px 10px 10px 10px;
}

.carousel-inner {
 width: auto;
 height: 500px;
}

#footer {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1151FF;
  color: white;
}

#footer, .col {
  text-align: center;
}

#footer, .col:hover {
  background-color: #91ADC2;
  border-radius: 4px;
}

#footer, .col:hover::after {
  background-color: #1151FF;
}

.col-container {
  display: flex;
  width: 100%;
}
.col {
  flex: 1;
}

img, #laptop {
  width: 80%;
  float: right;
}
