@import 'materialize';

body {
  font-family: 'Pavanam', sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

nav {
  height: 100px;
  background-color: #ffffff !important;
  border-bottom: none!important;
  box-shadow: none !important;
  color: grey !important;
  padding: 15px 20px 10px 20px;
  .logo {
    float: left;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
  }
  li {
    display: block;
    float: right;
    text-decoration: none !important;
    font-size: 1.5em;
  }
}

nav li a {
  color: grey;
}

// body {
//   position: relative;
//   margin: 0;
//   padding-bottom: 6rem;
//   min-height: 100%;
//   font-family: "Helvetica Neue", Arial, sans-serif;
// }

.card {
    width: 100%;
    float: left;
}
.card-content{
    text-align: center;
    font-weight: bold;
    }

#projects {
  margin-top: 60px;
}

#project-show {
  align-content: center !important;
  border-bottom: none!important;
  box-shadow: none!important;
}

#about {
  font-size: 1.5em;
  font-weight: bold;
  
}


/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: grey;
  text-align: center;
}


// #flash-notice {
//   -moz-animation: cssAnimation 0s ease-in 3s forwards;
//   /* Firefox */
//   -webkit-animation: cssAnimation 0s ease-in 3s forwards;
//   /* Safari and Chrome */
//   -o-animation: cssAnimation 0s ease-in 3s forwards;
//   /* Opera */
//   animation: cssAnimation 0s ease-in 3s forwards;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   background-color: black;
//   text-align: center;
// }
// @keyframes cssAnimation {
//   to {
//       width:0;
//       height:0;
//       overflow:hidden;
//   }
// }
// @-webkit-keyframes cssAnimation {
//   to {
//       width:0;
//       height:0;
//       visibility:hidden;
//   }
// }
