@import "bootstrap";

body {
  font-family: 'PT Sans', sans-serif;
}

nav {
  align-items: stretch;
  text-align: center;
  padding: 20px 0px 20px 0px;
  // background-color: #1151FF;
  background-color: black;
}

nav a {
  text-decoration: none !important;
  color: white;
  padding: 20px 20px 20px 20px;
}

#welcome {
  // background-color: #91ADC2;
  background-color: black;
  color: white;
  margin-top: -15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#looking {
  color: #1151FF;
}

#photos {
  font-size: 10px;
}

#carouselExampleIndicators {
  padding: 0px !important;
}

.navbar {
  padding: 10px 10px 10px 10px;
}

.carousel-inner {
 width: auto;
 height: 500px;
 background-size: auto;
}

#footer {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

#footer, .col {
  text-align: center;
}

// #footer, .col:hover {
//   background-color: black;
//   border-radius: 4px;
// }
//
// #footer, .col:hover::after {
//   background-color: #1151FF;
// }

.col-container {
  display: flex;
  width: 100%;
}
.col {
  flex: 1;
}

img, #laptop {
  width: 80%;
  float: right;
}

#caption {
  font-size: 10px;
}

#flash-notice {
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: black;
  text-align: center;
  color: white;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}
