@import 'materialize';

body {
  font-family: 'Pavanam', sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

nav {
  height: 80px;
  align-items: stretch;
  text-align: center;
  padding: 20px 0px 20px 0px;
  background-color: #ffffff !important;
  border-bottom: none!important;
  box-shadow: none!important;
}

nav a {
  text-decoration: none !important;
  color: grey;
  padding: 20px 20px 20px 20px;
}

#welcome {
  color: grey;
  margin-top: -1px;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}


body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


/**
 * Footer Styles
 */

 #footer, .col {
   text-align: center;
 }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  // background-color: #efefef;
  color: grey;
  // text-align: center;
}

.col-container {
  display: flex;
  width: 100%;
}
.col {
  flex: 1;
}


// #flash-notice {
//   -moz-animation: cssAnimation 0s ease-in 3s forwards;
//   /* Firefox */
//   -webkit-animation: cssAnimation 0s ease-in 3s forwards;
//   /* Safari and Chrome */
//   -o-animation: cssAnimation 0s ease-in 3s forwards;
//   /* Opera */
//   animation: cssAnimation 0s ease-in 3s forwards;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   background-color: black;
//   text-align: center;
//   color: white;
// }
// @keyframes cssAnimation {
//   to {
//       width:0;
//       height:0;
//       overflow:hidden;
//   }
// }
// @-webkit-keyframes cssAnimation {
//   to {
//       width:0;
//       height:0;
//       visibility:hidden;
//   }
// }
