<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <p><strong>Technologies</strong></p>
        <p>Languages: JavaScript, Ruby</p>
        <p>Frameworks: Angular2, Rails</p>
        <p>Database: PostgreSQL, Firebase</p>
        <p>Testing: Jasmine, Karma, RSpec</p>
        <p>Other: NodeJS, Git, Github, Postman, AJAX, HTML, CSS, Bootstrap</p>
      </div>
      <div class="col">
        <p><strong>Professional Experience</strong></p>
        <p>Budget Analyst: 8+ years</p>
      </div>
      <div class="col">
        <p><strong>Education</strong></p>
        <p>Epicodus Full Stack Developer Certificate</p>
        <p>Bachelor of Arts Political Science, International Relations</p>
        <p>Masters of Public Administration, Budget and Public Finance</p>
      </div>
    </div>
  </div>
</div>
