<hr>
<div class="col-container" id="footer">
  <div class="col">
    <p><strong>Technologies</strong></p>
    <p>Languages: <em>JavaScript, Ruby</em></p>
    <p>Frameworks: <em>Angular2, Rails</em></p>
    <p>Database: <em>PostgreSQL, Firebase</em></p>
    <p>Testing: <em>Jasmine, Karma, RSpec</em></p>
    <p>Other: <em>NodeJS, Git, Github, Postman, AJAX, HTML, CSS, Bootstrap</p>
  </div>
  <div class="col">
    <p><strong>Professional Experience</strong></p>
    <p>Budget Analyst: <em>8+ years></em></p>
  </div>
  <div class="col">
    <p><strong>Education</strong></p>
    <p>Bachelor of Arts: Political Science, International Relations</p>
    <p>Masters of Public Administration, Budget and Public Finance</p>
  </div>
</div>
