<nav>
  <p class="logo">HANNAH LEE | Junior Developer</p>
    <li>
      <%= link_to "home", root_path %> &nbsp;
      <%= link_to "about", about_path %> &nbsp;
      <a href="https://github.com/RunHannah/">github</a> &nbsp; <a href="https://linkedin.com/in/hannahlee1">linkedin</a> &nbsp; <a href="https://twitter.com/tweetbyhannah">twitter</a>
    </li>
</nav>
